@use '/src/styles/functions/units' as *;

// grid columns
$grid-columns: 12;

// grid gutters
$gridGutter-mobile: 16;
$gridGutter-tablet: 24;
$gridGutter-laptop: 24;
$gridGutter-desktop: 24;
$gridGutters: (
	'mobile': $gridGutter-mobile,
	'tablet': $gridGutter-tablet,
	'laptop': $gridGutter-laptop,
	'desktop': $gridGutter-desktop,
);

// grid containers
$gridContainer-mobile: 100%;
$gridContainer-tablet: 100%;
$gridContainer-laptop: rem(1440);
$gridContainer-desktop: rem(1440);
$gridContainers: (
	'mobile': $gridContainer-mobile,
	'tablet': $gridContainer-tablet,
	'laptop': $gridContainer-laptop,
	'desktop': $gridContainer-desktop,
);
